html {
    box-sizing: border-box;
  }

  body{
    background-color: rgb(250, 249, 245);
    margin: 0;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  img, video {
    height: auto;
    max-width: 100%;
  }

  /* EN-TETE */
  header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .container {
    max-width: 98rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
  }
  
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  
  .nav-list{
    position: relative;
    display: flex;
    list-style: none;
  }
  .nav-list a:hover{
    cursor: pointer;
    color:white;
    background-color: #32947c;
    padding: 10px;
    border-radius: 5px;
  }
  
  .nav-item{
    min-width: 7rem;
    text-align: center;
    padding-block: 12px;
  }
  
  .nav-link{
    text-transform: uppercase;
  }
  
  .nav-link img{
    height: 6rem;
    margin-top: 4px;
  }
  /* le lien dans l'image du menu */
  a:hover {
    cursor: pointer;
    color:white;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: auto;
  }
  /* la underline du menu accueil expertises etc */
  .active{
    position: absolute;
    bottom: -6px;
    height: 2px;
    width: 7rem;
    background-color: #32947c;
    transition: transform 0.25s;
  }
  
  /* La distance que le underline doit faire entre chaque decalage pour passer d'un mot à l'autre. 
  
  Pour passer du "ACCUEIL" à "PRIX" il a 7rem de distance a faire ! */
  .nav-item:nth-child(2):hover ~ .active{
    transform: translateX(7rem);
  }
  
  .nav-item:nth-child(3):hover ~ .active{
    transform: translateX(14rem);
  }
  .nav-item:nth-child(4):hover ~ .active{
    transform: translateX(21rem);
  }
  
  .nav-item:nth-child(5):hover ~ .active{
    transform: translateX(28rem);
  }

  /* -------------------------------------------------*/
  /* -------------------------------------------------*/

  .carte {
    width: 80%;
    margin: auto;
  }
  iframe{
    width: 100%;
    margin-bottom: 4rem;
    
  }


  .titres{
    width: 100%;
    height: 100px;
    text-align: center;
    margin: auto;
  }

  .titres h1 {
    color: rgb(131, 115, 105);
  }

  .titres p{
    font-size: 20px;
    width: 50%;
    margin: auto;
    position: relative;
    bottom: 5px;
    color: #32947c;
   }

  form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 80px auto;
    height: 350px;
  }
  
  label {
    margin-top: 12px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(131, 115, 105);
  }
  
  input,textarea {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  input[type="submit"] {
    background-color: #32947c;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    width: 80%;
    margin: 5px auto;
  }
  
  input[type="submit"]:hover {
    transition: box-shadow 0.3s;
    box-shadow: 0px 0px 6px 2px black;; 
  }
  






  /* FOOTER */ 

/* TITRE CONTACTEZ-MOI */ 
.contactez-moi{
  position: relative;
  z-index: -1;
  top: 8rem;
  width: 27%;
  display: flex;
  justify-content: flex-start;
  font-size: 41px;
  color: rgb(112, 95, 87);
  border-bottom: 1px solid #32947c;
  left: 40px;
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 213px;
}

/* Developpe ton site */
.footer h4 {
  color: #f2f2f2;
  font-size: 30px;
  margin-bottom: 0;
}
.footer ul {
  font-family: "Roboto", sans-serif;
  padding: 0;
  text-align: center;
}
  
.footer li {
  margin-top: 8px;
}
.footer a {
  color: #f2f2f2;
  transition: color 0.4s;
}
.footer a:hover {
  color: #32947c;
}
